/*Hoja de estilos*/

*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;/*Activar flexbox en el nav*/
    justify-content: space-around; /*Alineación horizontal*/
    align-items: center; /*Alineación vertical*/
    background-color: navy; /*Color de fondo*/
}

nav img {
    width: 100px; /*Cambiamos l ancho de la imagen*/
    border-radius: 60px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500; /*Ancho del texto*/
    padding: 15px; /*Espacio dentro del enlace*/
    border-radius: 12px; /*REdonder al borde*/
    transition: 0.6s; /*Tiempo para que vuelva a su estado original luego del hover*/
}

nav a:hover{
    background-color: rgb(134, 199, 207); /*Color de fondo al pasar el mouse*/
    scale: 1.1; /*Aumentar el tamaño del enlace al pasar el mouse*/
    transition: 0.6; /*Tiempo de duración de la animación*/
}

.cards {
    display: flex;
    justify-content: space-evenly; /*Alineacion horizontal*/
    gap: 30px; /*Separación entre los elementos*/
    margin-top: 30px; /*Margen para separar el menú de las targetas*/
    flex-wrap: wrap; /*Usar varias lineas y que no se desborde d ela pantalla*/
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; /*Alineación horizontal*/
    gap: 20px; /*Separacion del texto y la imagen*/
}

.card img{
    width: 300px; /*Ancho*/
    height: 300px; /*Alto*/
    object-fit: cover; /*Para que la imagen no se aplaste*/
    border-radius: 20px; /*Bordes redondeados*/
}

.card h3{
    font-size: 23px;
    font-weight: 400px;
}

